<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesuiswilliam.lazyboy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Outfit.OutfitRelax"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Function_class.Webview_Vc"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Function_class.ClothingWeb"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Outfit.ImgOutfitRelax"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Outfit.OutfitJacket"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Outfit.OutfitMoreJacket"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name=".Account"/>
        <activity
            android:name=".Activity_files.Update_Pic"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_files.Vote"
            android:label=""
            android:screenOrientation="portrait"/>

    </application>



</manifest>